/*@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans&display=swap');
*/
/*@import url('/fonts/Nunito-Regular.ttf');
@import url('/fonts/OpenSans-Regular.ttf');*/
body {
    background-color: #e5e4f1;
}

h1, h2 {
    font-family: 'Nunito', sans-serif;
}

p, button {
    font-family: 'Open Sans', sans-serif;
}